@charset "utf-8";
/*--- grid layout ---*/

/*--- columns ---*/
.col-1{
    width:8.33%;
}

.col-2{
    width:16.66%;
}

.col-3{
    width:25%;
}

.col-4{
    width:33.33%;
}

.col-5{
    width:41.66%;
}

.col-6{
    width:50%;
}

.col-7{
    width:58.33%;
}

.col-8{
    width:66.66%;
}

.col-9{
    width:75%;
}

.col-10{
    width:83.33%;
}

.col-11{
    width:91.66%;
}

.col-12{
    width:100%;
}

/*--- images ---*/
img
{
	max-width:100%;
}

/*--- alignment ---*/
.left
{
	float:left;
}

.right
{
	float:right;
}

.center
{
	margin:0 auto;
}

/*--- clear ---*/
.clear-left
{
	clear:left;
}

.clear-right
{
	clear:right;
}

.clearfix
{
	clear:both;
}

/*--- text align ---*/
.text-left
{
	text-align:left;
}

.text-right
{
	text-align:right;
}

.text-center
{
	text-align:center;
}

/*--- span columns  ---*/
.span1
{
	width:6.25%;
	margin:1.0416666667%;
}

.span2
{
	width:14.5833333333%;
	margin:1.0416666667%;
}

.span3
{
	width:22.9166666667%;
	margin:1.0416666667%;
}

.span4
{
	width:31.25%;
	margin:1.0416666667%;
}

.span5
{
	width:39.5833333333%;
	margin:1.0416666667%;
}

.span6
{
	width:47.9166666667%;
	margin:1.0416666667%;
}

.span7
{
	width:56.25%;
	margin:1.0416666667%;
}

.span8
{
	width:64.5833333333%;
	margin:1.0416666667%;
}

.span9
{
	width:72.9166666667%;
	margin:1.0416666667%;
}

.span10
{
	width:81.25%;
	margin:1.0416666667%;
}

.span11
{
	width:89.5833333333%;
	margin:1.0416666667%;
}

.span12
{
	width:97.9166666667%;
	margin:1.0416666667%;
}
